__pycache__
.DS_Store
.env*.secret
.idea
custom-filters


azure/setup-env-variables.sh
azure/setup-db-env-variables.sh
azure/setup-sso-variables.sh
azure/setup-env-variables-keyvault.sh
redis.json
ad.json
sso.json